.footer {
  height: 15vh;
  background-color: #001233;
  color: aliceblue;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer a {
  margin-right: 1rem;
}

img {
  width: 1.25rem;
  height: 1.25rem;
}
